/*------------------*
# Variables
*------------------*/

// Breakpoints
$desktop-lg: rem(1919); // Wide Desktop Screens (Above 1680 - Large Screens)
$desktop-md: rem(1620); // Medium Desktop Screens (Like 1480 - Macbook & Macbook Pro)
$desktop-sm: rem(1420); // Small Desktop Screens
$desktop-xs: rem(1360); // Small Desktop Screens

$tablet-lg: rem(1080); // Landscape Tablet
$tablet-md: rem(991); // Portrait Medium Tablet
$tablet-sm: rem(865); // Portrait Tablet

$mobile-lg: rem(767); // Mobile Landscale
$mobile-md: rem(576); // Mobile Medium Portrait
$mobile-sm: rem(540); // Mobile Portrait


/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/

$font-regular: 'Inter-Regular'; 
$font-medium: 'Inter-Medium'; 
$font-bold: "Inter-Bold"; 

/*
 * Base colors
*/

// Theme colours

$primary-color: #5429FF;
$secondary-color: #344054;
$accent1-color: #D0D5DD;
$accent2-color: #667085;
$bg-color: #CBCCE8;
 
//Other Colors
$white-color: #fff;
$black-color: #000;
