/*------------------*
# Variables
*------------------*/

// Breakpoints
$desktop-lg: 1440px;
$desktop-md: 1024px;
$tablet-md: 768px; 
$mobile-lg: 425px;
$mobile-md: 375px;
$mobile-sm: 320px;

/*
* Paths
*/
$mainlink-assets-path: "/dist";
$mainlink-font-path: "../fonts";

/*
* Fonts
*/

$font-regular: 'Inter-Regular'; 
$font-medium: 'Inter-Medium'; 
$font-bold: "Inter-Bold"; 

/*
 * Base colors
*/

// Theme colours

$primary-color: #111827;
$secondary-color: #6B7280;

$light-color: #F3F4F6; 
$border-color:#E6E7EB; 
$icon-color: #9CA3AF; 

// Status messages

$process-bg:#FEF3C7;
$process-dot: #FBBF23;
$process-text:#92400D; 

$success-bg:#D1FAE5;
$success-dot: #34D399;
$success-text:#065F46;
 
$failed-bg:#FFE2E2;
$failed-dot: #F97171;
$failed-text:#991B1B;
 
//Other Colors
$white-color: #fff;
$black-color: #000;
