header {
    nav {
        display: flex;
        align-items: center;
        justify-content: flex-start !important;
        margin-left: 20px;
        margin-top: 20px;
        gap: 12px;

        .logo-txt {            
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 0.01em;
            
            color: #000000;
        }
    }
}

@mixin mobile-navbar {
    header {
        nav {
            flex-direction: column;
            justify-content: center !important;
        }
    }
}

@include mobile-sm(){
    @include mobile-navbar;
}
@include mobile-md() {
    @include mobile-navbar;
}
@include mobile-lg() {
    @include mobile-navbar;
}