.btn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;

  
  position: relative;
  width: 300px;
  height: 44px;

  &.sign-in-default-btn {
    padding: 12px 0px;
    background: #5429FF;
    color: #fff;
  }
  
  &.sign-in-google-btn {

    padding: 10px 0px;
    border: 1px solid #D0D5DD;
    color: #000;
  }
}

@include mobile-lg(){
  .btn {
    width: 300px;
    height: 44px;
  }
}

@include mobile-md(){
  .btn {
    width: 300px;
    height: 44px;
  }
}

@include mobile-sm(){
  .btn {
    width: 280px;
    height: 44px;
  }
}