.sign-in-form {
    margin-top: 50px;
    // margin-bottom: 100px;
    // margin-left: 112px;
    // margin-right: 105px;
    // max-width: 300px;
    .form-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 5px;

        margin-top: 10px;
    }

    .remember-forgot {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0px;
        margin-top: 10px;
        // margin-left: -26px;
        // margin-right: -26px;
        margin-bottom: 25px;

        .remember {
            display: flex;
            justify-content: center;
            gap: 5px;
        }
    }

    // @include desktop-md(){ //1919rem
    //     margin-left: 55px;
    //     margin-right: 55px;
    // }
    // // @include desktop-sm(){ //1620rem
    // //     margin-left: 55px;
    // //     margin-right: 55px;
    // // }
    // // @include desktop-xs(){ //1420rem
    // //     margin-left: 55px;
    // //     margin-right: 55px;
    // // }

    // @include tablet-lg(){ //1080rem
    //     margin-left: 30px;
    //     margin-right: 30px;
    // }
    // @include tablet-md(){ //991rem
    //     margin-left: 7px;
    //     margin-right: 7px;
    // }
    // @include tablet-sm(){ //865rem
    //     margin-left: -7px;
    //     margin-right: -7px;
    // }

    // @include mobile-lg(){ //767rem
    //     margin-left: 112px;
    //     margin-right: 122px;
    // }
    // @include mobile-md(){ //576rem
    //     margin-left: 65px;
    //     margin-right: 65px;
    // }
    // @include mobile-sm(){ //540rem
    //     margin-left: 42px;
    //     margin-right: 42px;
    // }
}