.sign-in-form {
    position: relative;
    width: 300px;
    height: 500px;
    left: 70px;
    top: 175px;
    
    .form-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 5px;

        margin-top: 10px;
    }

    .remember-forgot {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 75px;
        margin-top: 20px;
    }
}
@include desktop-lg(){
    .sign-in-form {
        left: 100px;
        top: 130px;
    }
}

@include tablet-md(){
    .sign-in-form {
        width: 300px;
        left: 50px;
        top: 130px;
    }
}

@include mobile-lg(){
    .sign-in-form {
        width: 300px;
        left: 50px;
        top: 130px;
    }
}

@include mobile-md(){
    .sign-in-form {
        width: 300px;
        left: 30px;
        top: 130px;
    }
}

@include mobile-sm(){
    .sign-in-form {
        width: 280px;
        left: 10px;
        top: 130px;

        .remember-forgot {
            gap: 50px;
        }
    }
}