.img-box {
    flex: 1;
    margin: 20px 0px 20px 10px;
    background-color: $bg-color;
    border-radius: 40px;
    display: flex;
    .nft-img {
        width: calc(100%);
        object-fit: contain;
    }
}
@include mobile-lg(){
    .img-box {
        display: none;
    }
}
