.img-box {
    flex: 1;
    margin: 20px;
    background-color: $bg-color;
    border-radius: 40px;
    width: calc(100%);
    height: auto;
    display: flex;
    justify-content: center;
    .nft-img {
        width: calc(100%);
        height: auto;
        object-fit: contain;
    }
}
@include mobile-lg(){
    .img-box {
        visibility: hidden;
    }
}
