.input {
    
    box-sizing: border-box;

    font-family: 'Inter';
    font-style: normal;

    flex: none;
    order: 0;
    flex-grow: 0;

    border: 1px solid $accent1-color;

    &.text-box {
        border-radius: 8px;
        width: 100%;
    }
    &.check-box {
        border-radius: 4px;
    }

    .input-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 115px;
        border: none;
        padding-left: 10px;
        margin: 2px;
    
        &:focus, &:hover {
            outline: none;
        }
    }

    @include mobile-lg(){
    }
}