.input {
    
    box-sizing: border-box;

    font-family: 'Inter';
    font-style: normal;
    
    flex: none;
    order: 0;
    flex-grow: 0;

    border: 1px solid #D0D5DD;

    &.text-box {
        width: 360px;
        height: 44px;
        border-radius: 8px;
    }
    &.check-box {
        width: 16px;
        height: 16px;
        border-radius: 4px;
    }
}
