.label {
    width: 100px; // 36px;
    height: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    color: $secondary-color;

    flex: none;
    order: 0;
    flex-grow: 0;
}


@include mobile-lg(){
    .label {
    
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
    }
}